{{ $pdf_url := .Get "src" }}
{{ $width := .Get "width" | default "100%" }}
{{ $height := .Get "height" | default "80vh" }}
<div class="pdf-container">
    <object
        data="{{ $pdf_url }}"
        type="application/pdf"
        width="100%"
        height="auto"
    >
        <p>Unable to display PDF file. <a href="{{ $pdf_url }}">Download</a> instead.</p>
    </object>
</div>

<style>
.pdf-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.pdf-container object {
    width: {{ $width }};
    height: {{ $height }};
    /* min-height: 85vh; */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
}
</style>